body {
    margin: 0;
    padding: 0;
    background: url(img/back.jpg);
    background-size: cover;
    background-attachment: fixed;
    backdrop-filter: blur(5px);
}

#bar {
    display: flex;
    justify-content: space-around;
    top: 0;
    position: sticky;
    background-color: rgba(44, 36, 19, 0.8);
    z-index: 100;
}

li {
    display: inline-block;
    padding: 0 30px;
    list-style-type: none;
}

.lin {
    color: rgb(255, 255, 255);
    font-size: 20px;
    text-decoration: none;
}

.lin:hover {
    color: rgb(255, 157, 0);

}

a {
    text-decoration: none;
}

#title {
    color: rgb(255, 255, 255);
    font-style: italic;
    text-decoration: none;
    font-size: 30px;
}

#title:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 136, 0);
    transform: scale(1.5);
}

#body {
    background-image: url(img/banner-01.jpg);
    background-size: cover;
    display: flex;
    height: 900px;
    font-size: 40px;

}

pre {
    font-family: fantasy;
    padding: 200px 300px;
    font-size: 60px;
    color: white;
    opacity: 0.8;

}

#book {
    font-family: cursive;
    font-size: 30px;
    background-color: rgb(49, 49, 49);
    color: red;
    border-radius: 50px;
    margin-left: 80px;

}

#book:hover {
    color: rgb(34, 255, 0);
}

#det {
    display: flex;
    margin: 100px;
}

.zz {
    text-align: center;
    margin: 5px;
    height: max-content;
    background-color: rgb(195, 120, 33);
}

#img1 {
    border: 5px solid black;
}

#hom {
    border: 5px solid rgb(0, 0, 0);
    display: flex;
    gap: 10px;
    padding: 20px;
    width: 730px;
    overflow: scroll;
}

#prov {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    background-color: rgb(125, 102, 102);
    border-radius: 50%;
}

#prov1 {
    display: flex;
    justify-content: space-around;
}

.sam {
    border-radius: 10%;
    width: 28%;
    background-color: rgb(215, 215, 214);
}

.sam1 {
    width: 100%;
    height: 60vh;
    border-radius: 5%;
}

.sam2 {
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(250, 146, 0);
    padding: 5px;
    opacity: 0.8;
    border-radius: 50%;

}

.sam3 {
    float: right;
    color: rgb(250, 146, 0);
    margin-top: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
}

#fram {
    text-align: center;
    margin-top: 80px;
    background-image: url(img/video-bg.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
}

#fram>h2,
iframe {
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    color: rgb(255, 255, 255);
    /* background-color:rgb(125, 102, 102); */
    margin: 50px 10px;
    padding: 20px;
    border-radius: 50px;
}

#cont {
    text-align: center;
    background-color: rgba(44, 36, 19, 0.8);
    border-radius: 30%;
}

#cont>h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(249, 154, 0);
    font-style: italic;
}

#cont>a>img {
    width: 5%;
    height: 30%;
    padding: 20px;
}

#cont>a>img:hover {
    background-color: rgb(249, 154, 0);
    border-radius: 50%;
}

#foot {
    text-align: center;
    color: white;
    background-color: black;
    font-size: 30px;
    padding: 30px;
    margin-top: 100px;
}

#foot>p {
    padding: 0;
    margin: 0;
}
